<div class="position-relative rounded-3 overflow-hidden shadow-sm" 
     style="cursor: pointer;" 
     data-bs-toggle="modal" 
     data-bs-target="#videoModal" 
     data-video="{{video}}">
  
  <img src="{{image}}" alt="{{title}}" class="img-fluid w-100" style="border-radius: 0.5rem;">

  <div class="position-absolute top-50 start-50 translate-middle text-center">
    <h2 class="text-white fw-bold text-uppercase mb-1 h2">{{title}}</h2>
    <small class="text-white">{{subtitle}}</small>
  </div>

</div>
